{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV__": true
  },
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", { "args": "none" }],
    "no-underscore-dangle": ["error",{ "allow": ["_id"] }],
    "new-cap": ["error", { "capIsNewExceptions": ["MakeSelectable"] }]
  },
  "ignorePath": ".eslintignore"
}